<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const sum = ref(0);

const orders = ref([]);

const headers = [
  {
    text: "id",
    value: "id",
  },
  { text: "Name", value: "name" },
  { text: "Price", value: "price" },
];

const order = [
  {
    id: 0,
    name: "Test",
    price: 600,
  },
];
</script>
<template>
  <v-row>
    <v-col>
      <v-card class="overflow-y-auto" max-height="90vh">
        <v-row no-gutters>
          <v-col
            v-for="(item, index) in products"
            :key="index"
            cols="12"
            sm="4"
          >
            <!-- <v-sheet class="ma-2 pa-2"> One of three columns </v-sheet> -->
            <v-card class="mx-auto" max-width="400">
              <v-img
                class="align-end text-white"
                height="200"
                src="https://image.cnbcfm.com/api/v1/image/106878527-1620223837055-106748412-1602881184740-biden.jpg?v=1620224062"
                cover
              >
                <v-card-title>{{ item.name }}</v-card-title>
              </v-img>

              <v-card-subtitle class="pt-4">
                price {{ item.price }}
              </v-card-subtitle>

              <v-card-actions>
                <v-btn
                  color="orange"
                  @click="
                    orders.push({
                      id: item.id,
                      name: item.name,
                      price: item.price,
                    });
                    sum += item.price;
                  "
                >
                  Add to Card
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col v-if="orders.length > 0">
      <v-card class="overflow-y-auto" max-height="80vh">
        <v-data-table
          :headers="headers"
          :items="order"
          :items-per-page="5"
        ></v-data-table>
        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in orders" :key="i">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </table>
      </v-card>
      <v-container style="font-size: 40px"> Sum: {{ sum }} </v-container>
    </v-col>
    <v-col v-else>
      <v-card class="overflow-y-auto" max-height="80vh">
        <v-data-table
          :headers="headers"
          :items="order"
          :items-per-page="5"
        ></v-data-table>
        <table class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              No Data
              <!-- <th scope="row"></th> -->
            </tr>
          </tbody>
        </table>
      </v-card>
      <v-container style="font-size: 40px"> Sum: {{ sum }} </v-container>
    </v-col>
  </v-row>
  <!--   
  <div>
    {{ products }}
  </div> -->
</template>
