<script lang="ts" setup>
import { ref } from "vue";

const label = ["Angry", "Cute", "Excited", "Pain", "Shocked", "Smile"];

const feels: string[] = [
  "feeling_imgs\\angry.png",
  "feeling_imgs\\cute.png",
  "feeling_imgs\\excited.png",
  "feeling_imgs\\pain.png",
  "feeling_imgs\\shocked.png",
  "feeling_imgs\\smile.png",
];

const isselected = function (select: number) {
  if (selected.value === select) {
    return "yellow";
  } else {
    return "";
  }
};

const selected = ref(0);
</script>
<template>
  <v-row>
    <v-col align-self="center">
      <v-img :src="feels[selected]" width="500" contain></v-img>
    </v-col>

    <v-col cols="4">
      <v-list>
        {{ label[selected] }}
        <v-list-item>
          <v-btn
            @click="selected = 0"
            :color="isselected(0)"
            v-model.text="label"
            value="Angry"
          >
            Angry
          </v-btn>
        </v-list-item>
        <v-list-item></v-list-item>
        <v-list-item
          ><v-btn
            @click="selected = 1"
            :color="isselected(1)"
            v-model.text="label"
            value="Cute"
          >
            Cute
          </v-btn></v-list-item
        >
        <v-list-item></v-list-item>
        <v-list-item
          ><v-btn
            @click="selected = 2"
            :color="isselected(2)"
            v-model.text="label"
            value="Excited"
          >
            Excited
          </v-btn>
        </v-list-item>
        <v-list-item></v-list-item>
        <v-list-item>
          <v-btn
            @click="selected = 3"
            :color="isselected(3)"
            v-model.text="label"
            value="Pain"
          >
            Pain
          </v-btn></v-list-item
        >

        <v-list-item></v-list-item>

        <v-list-item>
          <v-btn
            @click="selected = 4"
            :color="isselected(4)"
            v-model.text="label"
            value="Shocked"
          >
            Shocked
          </v-btn></v-list-item
        >
        <v-list-item></v-list-item>
        <v-list-item
          ><v-btn
            @click="selected = 5"
            :color="isselected(5)"
            v-model.text="label"
            value="Smile"
          >
            Smile
          </v-btn></v-list-item
        >

        <v-list-item></v-list-item>
      </v-list>
      <v-container> </v-container>
    </v-col>
  </v-row>
</template>

<style scoped></style>
