<script setup lang="ts">
import { ref } from "vue";

const first = ref(0);
const sec = ref(0);

function firstBut() {
  if (first.value >= 0) {
    first.value++;
    sec.value = first.value * 2;
  }
}

function secBut() {
  if (first.value > 0) {
    first.value--;
    sec.value = first.value * 2;
  }
}
</script>
<template>
  <v-row>
    <v-col>
      <div>First Component</div>
      <div>{{ first }}</div>
      <v-btn @click="firstBut">Increment</v-btn>
    </v-col>
    <v-col>
      <div>Second Component</div>
      <div>{{ sec }}</div>
      <v-btn @click="secBut">Decrement</v-btn>
    </v-col>
  </v-row>
</template>
